#p1{
    border: 5px solid green;
    width: 300px;
    height: 50px;
    
    display: none;
}



.check{
    border: 15px solid;
    box-shadow: 1px 5px 5px 10px red ;
    height: 300px;
    width: 200px;
}
.check2{
    border: 9px solid black;
    box-shadow: 1px 5px 5px 5px red;
    width: 150px;
    height: 160px;
    margin-top: -270px ;
    margin-left: 20px ;
   
   
    
    background-color:;
}
.img{
   
    width:200px;
    height: 250px;
    margin-left: 40px;
    margin-top: 60px;

}
.sub{
    margin-top: 60px;
    margin-left: 60px;
}
div:active+ #p1{
    border: 5px solid black;
    height: 200px;
    width: 200px;
    display: flex;

}
#p2{
    border: 5px solid green;
    width: 300px;
    height: 50px;
    
    display: none;
}



.check3{
    border: 15px solid;
    box-shadow: 1px 5px 5px 10px blue ;
    height: 300px;
    width: 200px;
    margin-top: -332px;
    margin-left: 500px;
}
.check4{
    border: 9px solid black;
    box-shadow: 1px 5px 5px 5px red;
    width: 170px;
    height: 160px;
    margin-top: -270px ;
    margin-left: 8px ;
   
   
    
    background-color:;
}
.img1{
   
    width:px;
    height: 250px;
    margin-left: 25px;
    margin-top: 60px;

}
.sub1{
    margin-top: 60px;
    margin-left: 60px;
}
div:active+ #p2{
    border: 5px solid black;
    height: 200px;
    width: 200px;
    display: flex;

}